[submodule "arch/arm64/boot/dts/vendor-legacy"]
	path = arch/arm64/boot/dts/vendor-legacy
	url = https://github.com/Mi-Thorium/kernel_devicetree_msm-4.19.git
	branch = dts/master
[submodule "arch/arm64/boot/dts/xiaomi-msm8937"]
	path = arch/arm64/boot/dts/xiaomi-msm8937
	url = https://github.com/Mi-Thorium/kernel_devicetree_xiaomi-msm8937.git
	branch = dts/mi8937/4.19/master
[submodule "arch/arm64/boot/dts/xiaomi-sdm439"]
	path = arch/arm64/boot/dts/xiaomi-sdm439
	url = https://github.com/Mi-Thorium/kernel_devicetree_xiaomi-sdm439.git
	branch = dts/mi439/4.19/master
[submodule "techpack/xiaomi-msm8937"]
	path = techpack/xiaomi-msm8937
	url = https://github.com/Mi-Thorium/kernel_techpack_xiaomi-msm8937.git
	branch = techpack/mi8937/4.19/master
[submodule "techpack/xiaomi-sdm439"]
	path = techpack/xiaomi-sdm439
	url = https://github.com/Mi-Thorium/kernel_techpack_xiaomi-sdm439.git
	branch = techpack/sdm439/4.19/master
